 body.collection {
    position: relative;
    background-image: url(../assets/images/backgrounds/whitewater.jpg);
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: 0 150px;
     background-size: 100%;
}
     
 .portfolios {
     position: relative;
 }
 
 .collection-portfolios-container {
     position: relative;
     margin-top: 30px;
     margin-bottom: 20px;
     text-align: center;
 }
 
 .collection-portfolios-container .caption {
     margin-top: 10px;
 }
 
 .collection-portfolios-container .caption p {
     font-size: 1rem;
     font-weight: 300;
     color: rgba(0,0,0, 0.6);
 }
 
 .collection-portfolios-container .caption p a {
     color: rgba(0,0,0, 0.6);
 }
 
 .collection-portfolios-container .caption p a.portfolios-name {
     color: black;
 }
 
 .collection-portfolios-container img {
     width: 80%;
 }